 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="content-type" content="text/html"; charset=utf-8" />
  <meta name="veiwport" content="width=device-width, initial-scale=1.0" />
  <title>  </title>
  
</head> 

<body>
	<h1> About Us </h1>
	
	<p> Tagu Group Ltd is a start up company involve in the following fields: </p>
	



<%= link_to 'Home', root_path %>
<footer> All Rights Reserve: &copy2016 Lynn Tagu </footer>
</body>
</html>