 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="content-type" content="text/html"; charset=utf-8" />
  <meta name="veiwport" content="width=device-width, initial-scale=1.0" />
  <title>  </title>
  
</head> 

<body>
	<h1> alpha Blog </h1>
	
	<h3>Brief Introduction  </h3>
	<p> Tagu Group Ltd area of expertise include: </p>
	 <ul> 
		<li>Agriculture </li>
		<li>Agro-processing </li>
		<li>Commerce and trade </li>
		<li> IT Consultancy </li>
		<li>Real Estate </li>
		<li>Professional Training </li>
	 </ul>

 <%= link_to 'About', about_path %>


<footer> All Rights Reserve: &copy2016 Lynn Tagu </footer>
</body>
</html>